:root {
  --bs-p1: #f1faee;
  --bs-p2: #457b9d;
  --bs-s1: #e63946;
  --bs-s2: #abc3c4;
  --bs-s3: #1d3557;
}
body {
  background-color: var(--bs-p1) !important;
}

p {
  color: var(--bs-p2);
}
h1 {
  color: var(--bs-p2);
}
h3 {
  color: var(--bs-p2);
}
li {
  color: var(--bs-p2);
}
ul {
  text-decoration: none;
  list-style-type: none;
}
.button {
  color: var(--bs-p1);
  background-color: var(--bs-p2);
}

.img {
  height: 300px;
  width: 100%;
}

.mt-f {
  margin-top: 8rem !important;
}

.mt-b{
  margin-bottom: 6rem  !important;
}

.li-m {
  margin-bottom: 1.5rem;
}

.w-85{
  width: 85% !important;
}
